apiVersion: v1
kind: ConfigMap
metadata:
  name: shared-conf
  namespace: {{ .Values.global.namespace | default .Release.Namespace }}
data:
  shared.yaml: |
    ---
    HANDLERS:
        authentication:
        - backend: spaceone.core.handler.authentication_handler.AuthenticationGRPCHandler
          uri: grpc://identity:50051/v1/Domain/get_public_key
        authorization:
        - backend: spaceone.core.handler.authorization_handler.AuthorizationGRPCHandler
          uri: grpc://identity:50051/v1/Authorization/verify
        mutation:
        - backend: spaceone.core.handler.mutation_handler.SpaceONEMutationHandler

    CONNECTORS:
        IdentityConnector:
            endpoint:
                v1: grpc://identity:50051
        SecretConnector:
            endpoint:
                v1: grpc://secret:50051
        RepositoryConnector:
            endpoint:
                v1: grpc://repository:50051
        PluginConnector:
            endpoint:
                v1: grpc://plugin:50051
        ConfigConnector:
            endpoint:
                v1: grpc://config:50051
        InventoryConnector:
            endpoint:
                v1: grpc://inventory:50051
        MonitoringConnector:
            endpoint:
                v1: grpc://monitoring:50051
        StatisticsConnector:
            endpoint:
                v1: grpc://statistics:50051
        ReportConnector:
            endpoint:
                v1: grpc://report:50051
        BillingConnector:
            endpoint:
                v1: grpc://billing:50051
        PowerSchedulerConnector:
            endpoint:
                v1: grpc://power-scheduler:50051

    CACHES:
        default:
            backend: spaceone.core.cache.redis_cache.RedisCache
            host: redis
            port: 6379
            db: 0
            encoding: utf-8
            socket_timeout: 10
            socket_connect_timeout: 10
